<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
    <img class="logo" src="../../assets/logo.png" alt="Socialytics"><a id="name" class="navbar-brand justify-content-around" href="/"> Socialytics</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <ul class="nav">
            <li class="nav-item ">
              <a class="nav-link list" href="#">Login<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item ">
              <a class="nav-link list" href="/signup">Sign up<span class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>
</nav>

<div id="main-banner">
    <img id="background" src="../../assets/insights.jpg">
    <p id="text">Blazing fast, actionable Instagram analytics for any public account 🚀</p>
</div>

<div class="wrapper">
  <section id="home-menu">
    <h2>Menu</h2>
    <ul>
      <li>
        <span class="dish">Voluptate cillum fugiat</span>
        <span class="price">$30</span>
        <span class="description">Cheese, tomato, mushrooms, onions</span>
      </li>
      <li>
        <span class="dish">Voluptate cillum fugiat</span>
        <span class="price">$30</span>
        <span class="description">Cheese, tomato, mushrooms, onions</span>
      </li>
      <li>
        <span class="dish">Voluptate cillum fugiat</span>
        <span class="price">$30</span>
        <span class="description">Cheese, tomato, mushrooms, onions</span>
      </li>
      <li>
        <span class="dish">Voluptate cillum fugiat</span>
        <span class="price">$30</span>
        <span class="description">Cheese, tomato, mushrooms, onions</span>
      </li>
      <li>
        <span class="dish">Voluptate cillum fugiat</span>
        <span class="price">$30</span>
        <span class="description">Cheese, tomato, mushrooms, onions</span>
      </li>
      <li>
        <span class="dish">Voluptate cillum fugiat</span>
        <span class="price">$30</span>
        <span class="description">Cheese, tomato, mushrooms, onions</span>
      </li>
      <li>
        <span class="dish">Voluptate cillum fugiat</span>
        <span class="price">$30</span>
        <span class="description">Cheese, tomato, mushrooms, onions</span>
      </li>
      <li>
        <span class="dish">Voluptate cillum fugiat</span>
        <span class="price">$30</span>
        <span class="description">Cheese, tomato, mushrooms, onions</span>
      </li>
    </ul>
  </section>

  <section id="featured">
    <ul>
      <li>
        <img src="https://image.ibb.co/ehFAvv/thumb_1.jpg">
        <a href="#">Fugiat nulla sint</a>
        <span>$30</span>
        <span class="rating"></span>
      </li>
      <li>
        <img src="https://image.ibb.co/cZaoha/thumb_2.jpg">
        <a href="#">Fugiat nulla sint</a>
        <span>$30</span>
        <span class="rating"></span>
      </li>
      <li>
        <img src="https://image.ibb.co/cKvAvv/thumb_3.jpg">
        <a href="#">Fugiat nulla sint</a>
        <span>$30</span>
        <span class="rating"></span>
      </li>
      <li>
        <img src="https://image.ibb.co/e00zoF/thumb_4.jpg">
        <a href="#">Fugiat nulla sint</a>
        <span>$30</span>
        <span class="rating"></span>
      </li>
    </ul>
  </section>
  </div>


  <!-- End homepage content -->

  <footer>
    <div class="wrapper">
      <ul>
        <li>New York Restaurant</li>
        <li>3926 Anmoore Road</li>
        <li>New York, NY 10014</li>
        <li>718-749-1714</li>
      </ul>
      <ul>
        <li>France Restaurant</li>
        <li>68, rue de le Couronne</li>
        <li>75002 PARIS</li>
        <li>02.94.23.69.56</li>
      </ul>
      <ul>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Careers</a></li>
        <li><a href="#">Privacy Policy</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
      <ul>
        <li><img src="https://image.ibb.co/iivzoF/logo_footer.png" alt="logo"></li>
        <li>&copy; All Rights Reserved 2017</li>
      </ul>
    </div>
  </footer>