<!-- Nav bar(Header) -->
<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
    <img class="logo" src="../../assets/logo.png" alt="Socialytics"><a id="name" class="navbar-brand justify-content-around" href="/"> Socialytics</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <ul class="nav">
            <li class="nav-item ">
              <a class="nav-link list" href="#">Login<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item ">
              <a class="nav-link list" href="/signup">Sign up<span class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>
</nav>

<!-- Socialytics presentation div -->
<div id="background" class="text-center">
  <div class="caption">
    <h1 class="mb-1 text-black mt-3 font-weight-bold">
      <img class="mr-3 mb-2" src="../../assets/logo.png" width="75" height="75">
      <a class="customer" style="color: black;">Socialytics.</a>
    </h1>
    <p class="font-weight-bold">Blazing fast, actionable Instagram analytics for any public account 🚀</p> 
    <p class="">Drive growth by understanding your audience, creating content they love, analyzing engagement and improving cross-channel care.</p> 
  </div>
</div>

<!-- Socialytics build for div -->
<div class="wrapper">
  <section id="home-menu">
    <br> <br>
    <h2 class="customer">Socialytics is built for</h2>
    <div class="row row-cols-1 row-cols-md-3">
      <div class="col mb-4">
        <div class="card cardSize">
          <img src="../../assets/influencer.jpg" class="card-img-top cardImage" alt="...">
          <div class="card-body">
            <h5 class="card-title">Influencers</h5>
            <p class="card-text cardText">Influencers use Socialytics to grow their audience, know more about them. Then after collecting accurate data, they can grow their profile.</p>
          </div>
        </div>
      </div>
      <div class="col mb-4">
        <div class="card cardSize">
          <img src="../../assets/smallbus.jpg" class="card-img-top cardImage" alt="...">
          <div class="card-body">
            <h5 class="card-title">Small Business</h5>
            <p class="card-text cardText">Socialytics helps the small business to prove their impact through Social Media Analytics and get more sponsors and donors over time.</p>
          </div>
        </div>
      </div>
      <div class="col mb-4">
        <div class="card cardSize">
          <img src="../../assets/brands.jpg" class="card-img-top cardImage" alt="...">
          <div class="card-body">
            <h5 class="card-title">Brands</h5>
            <p class="card-text cardText">Use Socialytics to understand your audience, create more effective content to engage and grow your customer base, and measure social media’s impact of
              your business.</p>
          </div>
        </div>
      </div>
      <div class="col mb-4">
        <div class="card cardSize">
          <img src="../../assets/fashion.jpg" class="card-img-top cardImage" alt="...">
          <div class="card-body">
            <h5 class="card-title">Fashion</h5>
            <p class="card-text cardText">With Socialytics we want to help you impress your fashion clients. So we take care of the data, the reports, and the research and we will give it back to you.</p>
          </div>
        </div>
      </div>
      <div class="col mb-4">
        <div class="card cardSize">
          <img src="../../assets/other.jpg" class="card-img-top cardImage" alt="...">
          <div class="card-body">
            <h5 class="card-title">Other</h5>
            <p class="card-text cardText">Socialytics helps to compare, to get stats and measure efficiency of posts of your or any Instagram public page that you are interested in.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<!-- Opensource div -->
<div class="caption2">
  <p class="text-center" id="openSource">The only opensource social media analytics.</p> 
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <img class="img-fluid" src="../../assets/influencer2.jpg" alt=""> 
      </div>
      <div class="col-sm-6">
        <p id="openSource2">Businesses have changed drastically in last century. Everything has moved to digital world and lives of people have become digitally connected via Social Media. In these changing times, businesses need modern tools to connect with the their customers who are on social media.</p>
      </div>
    </div>
  </div>
</div>

<!-- End homepage content -->
<footer>
  <div class="wrapper">
    <p><img src="../../assets/logo.png" alt="logo"> Socialytics</p>
    <p>&copy; All Rights Reserved 2020</p>
  </div>
</footer>
  