<!-- Nav bar(Header) -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <img class="logo" src="../../assets/logo.png" alt="Socialytics"><a id="name" class="navbar-brand justify-content-around" href="/home"> Socialytics</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="nav">
        <li  class="nav-item">
          <a class="nav-link active" href="/home">Home</a>
        </li>
        <li  class="nav-item">
          <a class="nav-link active" href="/prediction">Prediction</a>
        </li>
        <li  class="nav-item">
          <a class="nav-link active" href="/recomendation">Recomendation</a>
        </li>
        <li class="nav-item dropdown">
          <a *ngFor="let user of current" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Welcome, {{user.name}}<span class="sr-only"> </span>
          </a>
          <div class="dropdown-menu " aria-labelledby="navbarDropdown">
            <a class="nav-link list down" [routerLink]="['/userprofile']"> Profile <span class="sr-only"></span></a>
            <a class="nav-link list down" (click)="logout()" href=""> Log out <span class="sr-only">(current)</span></a>
          </div>
        </li>
      </ul>
</div>
</nav>
  
  
   <div class="container-fluid">
     <div class="center">
       <div id="center" class="col-4">
               <h2 class="center">Edit</h2>
              <form [formGroup]="formGroup">
               <div *ngFor="let user of current">
                 <div class="form-group">
                     <label for="name" class="form-label mr-2">First name</label>
                     <input id="name" type="text" class="ml-2" style="position: absolute;"formControlName="firstName" placeholder="Your first name" [class.alert-danger]="formGroup.get('firstName').invalid && subM" *ngIf="isShown1"/>
                     <button (click)="ShowField1()" class="btn btn-outline-dark btn-sm" style="position: absolute; right: 0;" type="button">Edit</button>
                     <br>
                         <span *ngIf="formGroup.get('firstName').invalid && subM">The first name is a required field.</span>
                 </div>
                
                 <div class="form-group">
                     <label for="lastname" class="form-label mr-2">Last name</label>
                     <input id="lastname" class="ml-2" type="text" formControlName="lastName" placeholder="Your last name" [class.alert-danger]="formGroup.get('lastName').invalid && subM" *ngIf="isShown2"/>
                     <button (click)="ShowField2()" class="btn btn-outline-dark btn-sm" style="position: absolute; right: 0;" type="button">Edit</button>
                     <br>
                         <span *ngIf="formGroup.get('lastName').invalid && subM">The last name is a required field.</span>        
                  </div>
                
                 <div class="form-group">
                     <label for="e-mail" class="form-label mr-2">E-mail</label>
                     <input id="e-mail" class="ml-2" type="text" formControlName="email" placeholder="Your e-mail" [class.alert-danger]="formGroup.get('email').invalid && subM" *ngIf="isShown3" />
                     <button (click)="ShowField3()" class="btn btn-outline-dark btn-sm" style="position: absolute; right: 0;" type="button">Edit</button> 
                      <br>
                         <span *ngIf="formGroup.get('email').invalid && subM && formGroup.get('email').errors.required">The E-mail is a required field.</span>          
                         <span *ngIf="formGroup.get('email').invalid && subM && formGroup.get('email').errors.email">Enter a valid E-mail.</span>     
                 </div>
                
                 <div class="form-group">
                     <label for="oldpassWord" class="form-label mr-2">Password</label>
                     <input id="oldpassWord" class="ml-2" value="{{user.password}}" type="password" readonly *ngIf="isShown4"/>
                     <button (click)="ShowField4()" class="btn btn-outline-dark btn-sm" style="position: absolute; right: 0;" type="button">Edit</button> 
                           
                  </div> 

                  <div class="form-group" *ngIf="isShown4">
                     <label for="passWord" class="form-label mr-2">New Password</label>
                     <input id="passWord" class="ml-2" type="password" formControlName="password" placeholder="Min 8 Characters (Optional change)" />
                     
                     <br>
                         <span *ngIf="formGroup.get('password').invalid && subM && (error == 'length' || formGroup.get('password').errors.minlength )">The password min length is 8.</span>         
                   </div> 
                
                 <div class="form-group">
                     <label for="industryName" class="form-label mr-2">Industry</label>
                     <select id="industryName" class="custom-select" id="validationCustom04"  formControlName="industry" *ngIf="isShown5" [class.alert-danger]="formGroup.get('industry').value==-1 && subM">
                           <option selected disabled value="-1">Choose...</option>
                           <option *ngFor='let indus of industry' value="{{indus.name}}">{{indus.name}}</option>
                     </select>
                     <button (click)="ShowField5()" class="btn btn-outline-dark btn-sm" style=" position: absolute; right: 0; " type="button">Edit</button> 
                     <br>
                      <span *ngIf="formGroup.get('industry').value==-1 && subM" >The Industry is a required field.</span>
                  </div>
               </div>
            </form>
              <br>
              <br>
                 <div class="center">
                  <button (click)="onSubmit()" class="btn btn-success mr-1" type="submit">Save!</button>
                  <button (click)="return()"   class="btn btn-danger" style="display: inline;" type="button">Cancel</button>
                </div>
         </div>
     </div>
   </div>

<!-- End homepage content -->
<footer>
  <div class="wrapper">
    <p><img src="../../assets/logo.png" alt="logo"> Socialytics</p>
    <p>&copy; All Rights Reserved 2020</p>
    <!-- Esto sale al final de la pagina -->
    <!-- Hasta aqui -->
  </div>
</footer>
  

