body {
    height: 100%;
    overflow: hidden;
    width: 100% !important;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.hoverPrediction:hover{
    background-color:rgb(255, 193, 7);
    color:black;
}

h6, small{
    font-family: 'Roboto', sans-serif;
    color: black;
}

#name{
    font-size: 25px;
    margin-left: 10px;
    font-family: 'Roboto', sans-serif;
    color: black;
}

nav{
    background-color: rgb(255, 193, 7)!important;
    color: black!important;
    text-align: center;
    margin: auto;
    font-family: 'Roboto', sans-serif;
}

.logo{
    width: 40px;
    height: 40px;
}

.list{
    color: black!important;
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
}

/*CSS from https://codepen.io/rbuxx/pen/BReZed*/
.wrapper {
    width: 100%;
    max-width: 1400px;
    padding: 0 10px;
    margin: 0 auto;
    text-align: center!important;
}
  
h1.logo {
    background-repeat: no-repeat;
    width: 100px;
    text-indent: -10000px;
    float: left;
}

footer {
    background: #3b3b3b;
    padding: 30px 0;
}

footer p{
    color: white!important;
}

footer img{
    height: 30px;
    width: 30px;
}

li a {
    font-size: 17px;
    color: black;
}

.name {
    color: black;
    font-size: 23px;
    font-weight: bold;
}
  
.username {
    margin: auto;
    display: inline-block;
    color: black; 
    font-size: 15px;
}
  
.bio {
    margin: auto;
    color: black; 
    font-size: 15px;
}
  
.website {
    margin: auto;
    color: #0e98d3; 
    font-size: 15px;
    cursor: pointer;
}
  
img.avatar {
    padding: .7em;
    margin-left: .3em;
    margin-top: .3em; 
    align-self: center;
    height: 8em;
    width: 8em;
    border-radius: 18em;
}

.score-header {
    font-size: 11px !important;
}

.down{
    font-size: 15px!important;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center!important;
    margin-top: 10%;
    padding-bottom: 10%;
}

.ExportPdf{
    width: 32px;
    height: 32px;
    margin: 5px;
    display: flex;
    align-items: center;     
    flex-direction: column;
    font-size: 12px;
    padding-top:10px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    float:right;
    position: absolute;
    background-color:transparent;
    background-image: url('../../assets/exportPdf.png');
    transition: all 0.2s;
    cursor: pointer;
}

.ExportPdf:hover{
    color:#180505;
    -webkit-transform:scale(1.25); /* Safari and Chrome */
    -moz-transform:scale(1.25); /* Firefox */
    -ms-transform:scale(1.25); /* IE 9 */
    -o-transform:scale(1.25); /* Opera */
    transform:scale(1.25);
    border-color:#180505;
}

.ExportPdf:active {
    background-color:#180505;
    box-shadow: 0 5px #666;
    transform: translateY(8px);
}

.ExportXlsx{
    width: 32px;
    height: 32px;
    margin: 5px;
    display: flex;
    align-items: center!important;  
    flex-direction: column;
    font-size: 12px;
    padding-top:10px;
    font-family: 'Roboto', sans-serif;
    text-align: center!important;
    float:right;
    position: relative;
    background-color:transparent;
    background-image: url('../../assets/xlsx.png');
    transition:  all 0.2s;
    cursor: pointer;
}


.ExportXlsx:hover{
    color:#180505;
    -webkit-transform:scale(1.25); /* Safari and Chrome */
    -moz-transform:scale(1.25); /* Firefox */
    -ms-transform:scale(1.25); /* IE 9 */
    -o-transform:scale(1.25); /* Opera */
    transform:scale(1.25);
    border-color:#180505;
}

.ExportXlsx:active {
    background-color:#180505;
    box-shadow: 0 5px #666;
    transform: translateY(8px);
}

.ExportPPT{
    width: 32px;
    height: 32px;
    margin: 5px;
    display: flex;
    align-items: center;     
    flex-direction: column;
    font-size: 12px;
    padding-top:10px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    float:right;
    position: relative;
    background-color:transparent;
    background-image: url('../../assets/exportPPT.png');
    transition: all 0.2s;
    cursor: pointer;
}


.ExportPPT:hover{
    color:#180505;
    -webkit-transform:scale(1.25); /* Safari and Chrome */
    -moz-transform:scale(1.25); /* Firefox */
    -ms-transform:scale(1.25); /* IE 9 */
    -o-transform:scale(1.25); /* Opera */
    transform:scale(1.25);
    border-color:#180505;
}

.ExportPPT:active {
    background-color:#180505;
    box-shadow: 0 5px #666;
    transform: translateY(8px);
}
.bouncy{
    animation:bouncy 2s infinite linear;
    position: relative;
}

@keyframes bouncy {
    0%{top:0em}
    40%{top:0em}
    43%{top:-0.9em}
    46%{top:0em}
    48%{top:-0.4em}
    50%{top:0em}
    100%{top:0em;}
}

