<!-- Nav bar(Header) -->
<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
    <img class="logo" src="../../assets/logo.png" alt="Socialytics"><a id="name" class="navbar-brand justify-content-around" href="/"> Socialytics</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <ul class="nav">
            <li class="nav-item ">
              <a class="nav-link list" (click)="logout()" href=""> Logout <span class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>
</nav>

<button style="margin: 25%;" (click)="submitLogin()">Facebook Authentication</button>

<!-- End homepage content -->
<footer class="fixed-bottom">
  <div class="wrapper">
    <p><img src="../../assets/logo.png" alt="logo"> Socialytics</p>
    <p>&copy; All Rights Reserved 2020</p>
  </div>
</footer>
  
