<!-- Nav bar(Header) -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <img class="logo" src="../../assets/logo.png" alt="Socialytics"><a id="name" class="navbar-brand justify-content-around" href="/home"> Socialytics</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <ul class="nav">
          <li  class="nav-item">
            <a class="nav-link active" href="/home">Home</a>
          </li>
          <li  class="nav-item">
            <a class="nav-link active" href="/prediction">Prediction</a>
          </li>
          <li  class="nav-item">
            <a class="nav-link active" href="/recomendation">Recomendation</a>
          </li>
          <li class="nav-item dropdown">
            <a *ngFor="let user of current" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Welcome, {{user.name}}<span class="sr-only"> </span>
            </a>
            <div class="dropdown-menu " aria-labelledby="navbarDropdown">
              <a class="nav-link list down" [routerLink]="['/userprofile']"> Profile <span class="sr-only"></span></a>
              <a class="nav-link list down" (click)="logout()" href=""> Logout <span class="sr-only">(current)</span></a>
            </div>
          </li>
        </ul>
   </div>
</nav>

<!-- Instagram Basic Info -->
<div *ngIf="instagramData" class="container-fluid">
  <div class="container">
    <!-- Basic user info -->
    <div class="row w-100">
      <div class="col-2 d-flex align-items-center justify-content-center">
        <img class="avatar" [src]="instagramData.profile_picture_url" />
      </div>
      <div class="col-8 col-xs-6 card-body">
        <div class="name">
          {{instagramData.name}}
        </div>
        <div>
          <a class="username" [href]="'https://instagram.com/'  + instagramData.username"
            target="_blank">@{{instagramData.username}}</a>
        </div>
        <div class="bio">
          {{instagramData.biography}}
        </div>
        <div class="website">
          <a (click)="externalUrl(stats.website)" target="_blank">{{instagramData.website}}</a>
        </div>
        <small style="font-size: 10px">All the graphic are calculate by the day of the week.</small>
        <br>
        <small style="font-size: 10px">(Based on historical data)</small>
      </div>
    </div>
  
  </div>
</div>

<!-- Graphics -->
<div class="mt-2">
  <div class="container-fluid">
    <ul class="nav nav-tabs nav-justified">
        <li class="nav-item hoverPrediction">
          <a class="nav-link active" id="engagements-Profileviews" href="#EngagementsProfileViews" role="tab" data-toggle="tab" aria-selected="true" aria-controls="EngagementsProfileViews">Engagements</a>
        </li>
        <li class="nav-item hoverPrediction">
          <a class="nav-link" id="newFollows-Views" href="#FollowersProfileViews" role="tab" data-toggle="tab" aria-selected="false" aria-controls="FollowersProfileViews">New Followers</a>
        </li>
        <li class="nav-item hoverPrediction">
          <a class="nav-link" id="post-Profileviews" href="#PostProfileViews" role="tab" data-toggle="tab" aria-selected="false" aria-controls="PostProfileViews">Number of Post</a>
        </li>
    </ul>

    <div class="ml-5 mt-3 tab-content">
      <!-- Recomendation between profile views and engagements graphic -->
      <div class="tab-pane active container-fluid" id="EngagementsProfileViews" role="tabpanel" aria-labelledby="engagements-Profileviews">
        <div class="container" id="EngagementsProfileViews" *ngIf="this.messageEngagements">
          <h4>Our recomentation to your account based on your profile's Engagements and Profile views</h4>
          <h6>{{this.messageEngagements}}</h6>
          <div class="row">
            <div class="col-12">
              <div class="card mb-4 box-shadow">
                <div class="card-body text-center" >
                  <canvas baseChart [datasets]="byProfileViewsEngagementsData" [labels]="lineChartLabels" [options]="lineChartOptions"
                    [plugins]="lineChartPlugins" [legend]="lineChartLegend" [chartType]="lineChartType" [colors]="byProfileViewsEngagementsColor">
                  </canvas> 
                  <small style="font-size: 10px">Profile Views: Total number of times the multimedia objects in the trading account were viewed uniquely.</small><br>
                  <small style="font-size: 10px">Engagements: It is the commitment on the part of your followers to the publications of the commercial account.</small>
                </div>
              </div>
            </div>
          </div>
          <br>
        </div>
      </div>
    
      <!-- Recomendation between profile views and new Followers graphic -->
      <div class="tab-pane container-fluid" id="FollowersProfileViews" role="tabpanel" aria-labelledby="newFollows-Views">
        <div class="container" id="FollowersProfileViews">
          <h4>Our recomentation to your account based in your profile's new Followers and Profile views</h4>

        </div>
      </div>
    
      <!-- Recomendation between profile views and amount of post graphic -->
      <div class="tab-pane container-fluid" id="PostProfileViews" role="tabpanel" aria-labelledby="post-Profileviews">
        <div class="container" id="PostProfileViews" *ngIf="this.messagePost">
          <h4>Our recomentation to your account based on your profile's the number of Post and Profile views</h4>
          <h6>{{this.messagePost}}</h6>
          <div class="row">
            <div class="col-12">
              <div class="card mb-4 box-shadow">
                <div class="card-body text-center" >
                  <canvas baseChart [datasets]="byProfileViewsAmountOfPostData" [labels]="lineChartLabels" [options]="lineChartOptions"
                    [plugins]="lineChartPlugins" [legend]="lineChartLegend" [chartType]="lineChartType" [colors]="byProfileViewsAmountOfPostColor">
                  </canvas> 
                  <small style="font-size: 10px">Profile Views: Total number of times the multimedia objects in the trading account were viewed uniquely.</small>
                </div>
              </div>
            </div>
          </div>
          <br>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- End homepage content -->
<footer *ngIf="this.messageEngagements && this.messagePost">
  <div class="wrapper">
    <p><img src="../../assets/logo.png" alt="logo"> Socialytics</p>
    <p>&copy; All Rights Reserved 2020</p>
    <p style="font-size: 12px;">
      *Instagram public endpoints have been changing since April 2018. As a result, the
      application is in continuous development. If the endpoints have changed since the last test run, please bear
      with me and consider creating an issue <a href="https://github.com/preethamvishy/socialytics/issues">here</a>.
    </p>
  </div>
</footer>
  
